{% extends "base.html" %}
{% block content %}
{% from 'bootstrap5/table.html' import render_table %}
{% from "bootstrap5/pagination.html" import render_pagination %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

    <div id="row">
    <h3>Welcome: {{ current_user.email }}</h3>

    <div class="row">
 <div class ="col-8">


    <a><a href="{{ url_for("songs.songs_upload") }}" class="btn col-3 mt-2 mb-2 btn-info" role="button">Upload
        Songs</a></h4>
    <h4>Browse Your Songs</h4>
    {{ render_table(data) }}
    {% from 'bootstrap5/pagination.html' import render_pagination %}
    <br>
    <br>
    {{ render_pagination(pagination) }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

    </div>
    <div class="col-4">
    <img src="{{ url_for('static', filename='images/music10.png') }}" class="img-fluid" alt="docker1">
</div>
    <script type=text/javascript>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>



{% endblock %}
</div>



