
body {
font-size: 75%;
    background-image: linear-gradient(to bottom right, #808080, #f2f3f4) !important;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 75%;
    margin: 0;
    background-attachment: fixed;
}

/*----body {
font-size: 100%;
    background-image: url(../images/bankb.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    margin: 3px;
    background-attachment: fixed;
    background-color: rgba(192,192,192,0.3);
    background-blend-mode: darken;
;
} ---*/


/*------------------------------ Navbar Custom -------------------------------*/
.navbar-default {
    background-image: linear-gradient(#585858, #909090); !important;

}
.navbar-default .navbar-nav > li > a {
    color: black !important;
    font-size: large;
}

.nav-item {
    color: black !important;
    font-size: large;
}

.navbar-default .navbar-nav > li > a:hover {
    color: blue !important;
}

.fs-20 {
    font-size: 20px;
}

.fs-14 {
    font-size: 14px;
}
.neonblue {
   color: #0000FF  !important;
}

.navbar-toggler {
    border: 2px solid #303030 !important;
}

.dropdown-menu {
    background-color: #9c9c9c;
}

/*------------------- Color of links------------------------------------------*/
a:hover {
    color: blue !important;
}
a {
    color: darkslategrey;
}
/*-------- active pill color --------*/
.active {
    color: darkgray !important;
    background-color: dimgray;
    border-radius: 6px;
}
/*--------- border-------------------*/
.outset {
    border-style: outset;
    border-color: dimgrey;
    border-width: 5px;
}

.px10 {
    margin-top: -10px;
    margin-bottom: -10px;

}

/*------------------------- Font sizes and colors-----------------*/
.h7 {
    font-size: 12px;
}

.greyfont {
    color: #909090;
}
.whitefont {
    color: #f2f3f4;
}

.darkfont {
    color: darkslategray;
}


/*---------------------carousel custom-----------------*/
.carousel-caption {
    left: auto;

}

.p1 {
    text-align: center;
    color: #989898;

}