{% extends "base.html" %}

{% from 'bootstrap5/table.html' import render_table %}
{% from "bootstrap5/pagination.html" import render_pagination %}

{% block title %}Browse: {{ record_type }}{% endblock %}
{% block content %}
    <div>
    <div class="container-fluid">
    <div class="row">
    <div class="col-4 mt-2">
            <h4 class="text-center">BANK'S CURRENT BALANCE</h4>


            <h4 class="text-center">{{ account_balance() }}</h4>

        <br>
        <br>
        <br>
    <h5 class="type-header text-left">Browse Transactions</h5>
        </div>
        <div class="col-4  mx-auto p-2 justify-content-sm-end">

 <img  class="img-fluid" src="{{ url_for('static', filename='images/logo.png') }}">

        <div class="row"></div>
        </div>
        <div class="col-1"></div>


    <div class="col-3">

       <h4 class="text-center"><a href="{{ url_for("transactions.transactions_upload") }}" class="btn mt-2 mb-2 btn-info" role="button">Upload
                Transactions</a></h4>
    </div>

    </div>

    {{ render_table(data) }}
    {% from 'bootstrap5/pagination.html' import render_pagination %}



    {{ render_pagination(pagination) }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script type=text/javascript>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>



</div>
{% endblock %}
</div>



