{% extends "base.html" %}
{% block content %}
    <main>
        <div id="myCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-label="surf"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="4x4"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="family"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/bank4.jpg') }}">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-light">Savings made easy. <br>Financial Freedom.</h1>
                            <p class="text-light pb-3">
                                Let us help you and your family become financially independent
                            </p>
                        </div>

                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/bank1.jpg') }}">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-light">Simpler. <span class="greyfont">Faster. F</span>riendlier</h1>
                            <p class="text-light pb-3">
                                Let us help you make and manage investments that will make you grow.<br>
                                Where you know your banker and your banker knows you.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item 100%">
                    <img src="{{ url_for('static', filename='images/bank2.jpg') }}">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-light">Easiest Checking. <br>Easiest Banking.</h1>
                            <p class="text-light">No monthly maintenance fee.
                                No minimum balance requirement. <br>Available nationwide.
                                Physical branch locations and online accessibility<br>
                                Large ATM network.
                            </p>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div>

            <h2 class="mb-3 text-center">Wherever you want to go, we'll help you get there</h2>

            <h3 class="text-center text-muted">No matter where you are on your journey we've got financial products and
                services to help you.</h3>
            <br>

            <h2 class="mb-3 text-center">We're with you every step of the way</h2>


            <h3 class="text-center text-muted">Whether you're down the street from us or across the country,
                we help make managing your money easy.</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">CHECKING</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Checking Accounts for everyone</h6>
                        <p class="card-text">Explore our checking options and find one that suits your everyday banking needs</p>

                    </div>
                </div>
            </div>
                    <div class="col-4">
                        <div class="card" style="width: auto;">
                            <div class="card-body">
                                <h5 class="card-title">SAVINGS</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Savings Accounts for everyone</h6>
                                <p class="card-text">Choose a savings account to set aside funds for a special purchase or rainy day<br>  </p>

                            </div>
                        </div>
                    </div>
                            <div class="col-4">
                                <div class="card" style="width: auto;">
                                    <div class="card-body">
                                        <h5 class="card-title">ABOUT THIS PROJECT</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Find out more</h6>
                                        <p class="card-text">Explore details of this project as well as information about the author and other projects></p>
                                        <a href="/about" class="card-link">About</a>

                                    </div>
                                </div>
                            </div>
        </div>
    <br>
    <br>


    </main>

    <hr class="featurette-divider">

{% endblock %}

